 div.page-container {
  background-image: url('/assets/wide-gym-image.jpg');
  background-position: left center;
  background-size: cover;
  left: 0;
  top: 0;
  height: 50vw;
  min-height: 200px;
  width: 100%;
}
