<mat-toolbar>
  <a href="#top"><button mat-icon-button disableRipple="true">
    <mat-icon id="top" svgIcon="logo"></mat-icon>
  </button></a>
  <a href="#about"><button mat-button disableRipple="true">ABOUT</button></a>
  <a href="#services"><button mat-button disableRipple="true">SERVICES</button></a>
  <a href="#contact"><button mat-button disableRipple="true">CONTACT</button></a>
</mat-toolbar>
<app-about id="about"></app-about>
<app-services id="services"></app-services>
<app-contact id="contact"></app-contact>
