.mat-toolbar {
  background-color: #404040;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
}

.mat-button {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  margin-top: 4px;
  color: #FFFFFF;
}
